################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/job-application-tracker-api/.vs/job-application-tracker-api
/job-application-tracker-api/bin/Debug/net8.0
/job-application-tracker-api/obj
/job-application-tracker-api/.vs/ProjectEvaluation
/job-application-tracker-api/bin/Release/net8.0
